doctype html
html
  head
    title Chat
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='assets/css/styles.css')
    if (currentUser.isGuest())
      script(defer src='assets/js/authentication.js')
  body
  -const par = error ? error : {};
    if (currentUser.isGuest())
      form#auth-form(method='post')
        h2 Chat
        p Please type your nickname and password to visit chat.
          br
          br
          span Note: both nickname and password must contain at least 4 characters(letters and digits) and no more than 12. Nickname starts only with a letter.
        .center
          label(for='nickname')
            span Nickname:
          input#nickname(type='text' name='nickname' value = par.nickname)
          label(for='password')
            span Password:
          input#password(type='password' name='password')
          if (par.message)
            p.error-message=error.message
          button#sign-in(formmethod='post' formaction=`${url('users')}`) Sign in
          button#sign-up(formmethod='post' formaction=`${url('session')}`) Sign up
    else
      #main
        #log-out
          #user=currentUser.nickname
          form#form-sign-out
            button#btn-sign-out(formaction=`${url('session')}?_method=DELETE` formmethod='post') Sign out
        #content
          #info-status
            h3 Online users
            ul#online-users
              if (foreignUsers.length >= 1)
                each user in foreignUsers
                  li=user.nickname
        #controls
          #info-of-activity
          textarea#message-field(placeholder='Type message')
          button#send-message Send
        script(src='/socket.io/socket.io.js')
        script(src='assets/js/chat-client.js')
